[submodule "extensions/asyncdb"]
	path = extensions/asyncdb
	url = https://github.com/phenobarbital/asyncdb.git 
[submodule "extensions/aiohttp-session"]
	path = extensions/aiohttp-session
	url = https://github.com/phenobarbital/aiohttp-session
