include LICENSE
include LICENSE-APACHE
include README.md
include commands
global-include *.typed
recursive-include navigator/templates *
recursive-include navigator/static *
recursive-include navigator *.pxd *.pyx
global-exclude *.pyc
# Exclude directories
prune videos
prune examples
prune docs
prune documents
prune etc
prune env
prune resources
prune dist
prune plugins

# unwanted directories
prune tests
prune *.egg-info
