include LICENSE
include LICENSE-APACHE
include README.md
global-include *.typed
recursive-include navigator/templates *
recursive-include navigator/static *
# Exclude directories
prune videos
prune examples
prune docs
prune documents
prune etc
prune env
prune resources
prune dist

# Optionally, you can also specify any other unwanted directories
prune tests
prune *.egg-info
