/*
In the beginning God created the heavens and the earth.
*/
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800|Open+Sans:300,400,600,700,800');

body {
  background: #F7F7F7;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
