### Call with: gunicorn nav:navigator -c gunicorn_config.py
import asyncio
from app import Main
from navigator import Application

async def navigator():
    # define new Application
    app = Application(Main)
    # Enable WebSockets Support
    app.add_websockets()
    # returns App.
    return app.setup()
    # return app
